.header{
    color: black;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
    color: black;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
.filmText{
    color:#808080;
}
.filmText:hover{
    color:#808080;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vault-wrapper {
  min-height: 100vh;           /* take full viewport height */
  display: flex;
  flex-direction: column;      /* stack header, cards, and button */
  justify-content: center;     /* vertical center */
  align-items: center;         /* horizontal center */
}
.card-title {
  font-weight: bold;
}