.Profile {
  text-align: center;
  min-height: 100vh;              
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;    
}

.Profile-logo {
  width: 375px;                
  height: 375px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;  
  border: 4px solid #dad8d8;
   
}

.Profile-header {
  background-color: #ffffff;
  color: black;         
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.tooltip .tooltip-inner {
  transform: translateY(6px);
  opacity: 0;
  transition: all 0.25s ease;
}

.tooltip.show .tooltip-inner {
  transform: translateY(0);
  opacity: 1;
}
