.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-primary-spacing {
  margin-right: 5px;
  margin-bottom: 5px !important;
}
.profile-button-container {
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}